<div class="jumbotron">
  <h1 class="display-4">Event: <%= @event.title %></h1>
  <p class="display-6">Host by: <%= @event.creator.username %></p>
  <p class="lead"><%= @event.description %></p>
  <h4>This people is going to go:</h4>
  <% @event.attendees.each do |user| %>
    <p class="badge badge-primary"><%= user.username %></p><br>
  <% end %>
  <hr class="my-4">
  <p><%= @event.date %></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Confirm</a>
</div>
