<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">Event Manage</a>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
    <% unless logged_in? %>
      <li class="nav-item btn">
        <%= link_to 'Sign up', new_user_path %>
      </li>
      <li class="nav-item btn">
        <%= link_to 'Sign in', login_path %>
      </li>
    <% else %>
    <li class="nav-item btn ">
        <%= link_to "#{current_user.username}", user_path(current_user) %>
    </li  >
      <li class="nav-item btn">
        <%= link_to 'Sign out', logout_path, method: :delete %>
      </li>
      <li class="nav-item btn">
        <%= link_to 'Create a New Event', new_event_path %>
      </li> 
    <% end %>
		</ul>
		<!-- Search form -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</div>
</nav>